<html>
    <head>
        <title>Testing</title>
    </head>
    <body>
        <center>
            <form action="">
            <label for="inputFirstName"> Enter frstName :</label> <input name="firstname" id="inputFirstName" type="text"> <br> <br>
            <label for="inputlastName">Enter lastName  :</label> <input name="lastname" id="inputlastName" type="text"><br> <br>
            <label for="inputphoneNumber">Enter PhoneNumber  :</label> <input name="phonenumber" id="inputphoneNumber" type="text"><br> <br>
            <button>Add to Phonebook</button>
        </form>
        </center>
    </body>
</html>






